// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #7BAFD4;
$heelBlue:              #7BAFD4;
$darkBlue:              #235d86;