header.banner {
    background: linear-gradient(lighten($heelBlue, 80%), lighten($heelBlue, 20%));
    margin-bottom: 20px;

    .main-header {
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            display: block;

            &.brand {                
                img {
                    height: 95px;
                }
            }

            &.unc {
                img {
                    height: 65px;
                }
            }
        }
    }

    nav.nav-primary {
        background: $darkBlue;
        height: 50px;
        box-shadow: inset 0 0 10px -5px #000;

        div.menu-nav-container>ul>li {
            display: inline-block;
            height: 50px;

            a {
                color: lighten($heelBlue, 40%);
                display: inline-block;
                height: 50px;
                padding: 0px 10px;
                line-height: 49px;
                transition: background 0.2s linear;

                &:hover {
                    background: lighten($darkBlue, 5%);
                    text-decoration: none;
                }
            }
        }
    }
}