body.page-template-template-guide {
    main.main {
        ol {
            li {
                color: $heelBlue;
                margin: 15px 0;
                span {
                    color: rgb(68, 68, 68);
                }
            }
        }
    }
}